In [ ]:
# importing basic libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

**TASK 1**

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Heart Failure Prediction/heart.csv")
df.head()

   Age Sex ChestPainType  ...  Oldpeak  ST_Slope  HeartDisease
0   40   M           ATA  ...      0.0        Up             0
1   49   F           NAP  ...      1.0      Flat             1
2   37   M           ATA  ...      0.0        Up             0
3   48   F           ASY  ...      1.5      Flat             1
4   54   M           NAP  ...      0.0        Up             0

[5 rows x 12 columns]

**ONE HOT ENCODING**

In [ ]:
##One-hot encoding

df2 = pd.read_csv("/content/drive/MyDrive/Heart Failure Prediction/heart.csv", usecols=['Sex', 'ChestPainType', 'RestingECG', 'ExerciseAngina', 'ST_Slope'])
df2.head()

  Sex ChestPainType RestingECG ExerciseAngina ST_Slope
0   M           ATA     Normal              N       Up
1   F           NAP     Normal              N     Flat
2   M           ATA         ST              N       Up
3   F           ASY     Normal              Y     Flat
4   M           NAP     Normal              N       Up

In [ ]:
for col in df2.columns:
  print(col,"-", len(df2[col].unique()),"unique categories in this feature")

Sex - 2 unique categories in this feature
ChestPainType - 4 unique categories in this feature
RestingECG - 3 unique categories in this feature
ExerciseAngina - 2 unique categories in this feature
ST_Slope - 3 unique categories in this feature

In [ ]:
df3=pd.get_dummies(df2)
df3.shape

(918, 14)

In [ ]:
df=pd.concat([df, df3], axis='columns')
df.head()

   Age Sex ChestPainType  ...  ST_Slope_Down  ST_Slope_Flat  ST_Slope_Up
0   40   M           ATA  ...              0              0            1
1   49   F           NAP  ...              0              1            0
2   37   M           ATA  ...              0              0            1
3   48   F           ASY  ...              0              1            0
4   54   M           NAP  ...              0              0            1

[5 rows x 26 columns]

**FINAL DATA FRAME AFTER ONE-HOT ENCODING**

In [ ]:
df=df.drop(df2, axis='columns')
df.head()

   Age  RestingBP  Cholesterol  ...  ST_Slope_Down  ST_Slope_Flat  ST_Slope_Up
0   40        140          289  ...              0              0            1
1   49        160          180  ...              0              1            0
2   37        130          283  ...              0              0            1
3   48        138          214  ...              0              1            0
4   54        150          195  ...              0              0            1

[5 rows x 21 columns]

**NORMALISING THE DATAFRAME**

In [ ]:
for col in df.columns:
  if df[col].all().max() > 5:
    df[col] = df[col]/df[col].mean()

df.head()

   Age  RestingBP  Cholesterol  ...  ST_Slope_Down  ST_Slope_Flat  ST_Slope_Up
0   40        140          289  ...              0              0            1
1   49        160          180  ...              0              1            0
2   37        130          283  ...              0              0            1
3   48        138          214  ...              0              1            0
4   54        150          195  ...              0              0            1

[5 rows x 21 columns]

**APPLYING THE LOGISTIC REGRESSION MODEL**

In [ ]:
X_columns = []
for col in df.columns:
  if col != 'HeartDisease':
    X_columns.append(col)

In [ ]:
X = df[X_columns]
y = df['HeartDisease']

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
clf = LogisticRegression()
clf.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

In [ ]:
clf.score(X_test, y_test)

0.8532608695652174

**TASK 2**

**APPLYING STANDARD SCALING TO THE NUMERICAL VALUES**

In [ ]:
##standard scaling
df4 = pd.read_csv("/content/drive/MyDrive/Heart Failure Prediction/heart.csv", usecols=['Age', 'RestingBP', 'Cholesterol', 'FastingBS', 'MaxHR', 'Oldpeak'])
from sklearn.preprocessing import StandardScaler
std_scaler=StandardScaler()
df_scaled = std_scaler.fit_transform(df4.to_numpy())
df_scaled = pd.DataFrame(df_scaled, columns=['Age', 'RestingBP', 'Cholestrol', 'FastingBS', 'MaxHR', 'Oldpeak'])
df_scaled.head()

        Age  RestingBP  Cholestrol  FastingBS     MaxHR   Oldpeak
0 -1.433140   0.410909    0.825070  -0.551341  1.382928 -0.832432
1 -0.478484   1.491752   -0.171961  -0.551341  0.754157  0.105664
2 -1.751359  -0.129513    0.770188  -0.551341 -1.525138 -0.832432
3 -0.584556   0.302825    0.139040  -0.551341 -1.132156  0.574711
4  0.051881   0.951331   -0.034755  -0.551341 -0.581981 -0.832432

In [ ]:
df=pd.concat([df, df_scaled], axis='columns')
df.head()

   Age  RestingBP  Cholesterol  ...  FastingBS     MaxHR   Oldpeak
0   40        140          289  ...  -0.551341  1.382928 -0.832432
1   49        160          180  ...  -0.551341  0.754157  0.105664
2   37        130          283  ...  -0.551341 -1.525138 -0.832432
3   48        138          214  ...  -0.551341 -1.132156  0.574711
4   54        150          195  ...  -0.551341 -0.581981 -0.832432

[5 rows x 27 columns]

In [ ]:
X_columns2 = []
for col in df.columns:
    X_columns2.append(col)

In [ ]:
X2=df[X_columns2]

In [ ]:
from sklearn.svm import SVC

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X2, y, test_size=0.2)

In [ ]:
clf = SVC(kernel='linear')
clf.fit(X_train, y_train)
clf.score(X_test, y_test)

1.0

**DECISION TREES**

In [ ]:
##using the same encoded dataframe
from sklearn import tree

In [ ]:
X_columns3 = []
for col in df.columns:
    X_columns3.append(col)

In [ ]:
X3=df[X_columns2]

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X3, y, test_size=0.2)

In [ ]:
clf = tree.DecisionTreeClassifier()
clf.fit(X_train, y_train)
clf.score(X_test, y_test)

1.0

**TASK 3**

**RANDOM FOREST AND HYPERPARAMETER TUNING**

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
n_estimators=[int(x) for x in np.linspace(start=10, stop=80, num=80)]
max_features=['auto', 'sqrt']
max_depth=[2,4]
min_samples_split=[2,5]
min_samples_leaf=[1,2]
bootstrap=[True, False]

In [ ]:
param_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}

In [ ]:
rf_Model=RandomForestClassifier()
from sklearn.model_selection import GridSearchCV
rf_Grid = GridSearchCV(estimator = rf_Model, param_grid = param_grid, cv = 3, verbose=2, n_jobs = 4)

In [ ]:
rf_Grid.fit(X_train, y_train)

Fitting 3 folds for each of 2560 candidates, totalling 7680 fits

GridSearchCV(cv=3, estimator=RandomForestClassifier(), n_jobs=4,
             param_grid={'bootstrap': [True, False], 'max_depth': [2, 4],
                         'max_features': ['auto', 'sqrt'],
                         'min_samples_leaf': [1, 2],
                         'min_samples_split': [2, 5],
                         'n_estimators': [10, 10, 11, 12, 13, 14, 15, 16, 17,
                                          17, 18, 19, 20, 21, 22, 23, 24, 25,
                                          25, 26, 27, 28, 29, 30, 31, 32, 33,
                                          33, 34, 35, ...]},
             verbose=2)

GridSearchCV(cv=3, estimator=RandomForestClassifier(), n_jobs=4,
             param_grid={'bootstrap': [True, False], 'max_depth': [2, 4],
                         'max_features': ['auto', 'sqrt'],
                         'min_samples_leaf': [1, 2],
                         'min_samples_split': [2, 5],
                         'n_estimators': [10, 10, 11, 12, 13, 14, 15, 16, 17,
                                          17, 18, 19, 20, 21, 22, 23, 24, 25,
                                          25, 26, 27, 28, 29, 30, 31, 32, 33,
                                          33, 34, 35, ...]},
             verbose=2)

In [ ]:
rf_Grid.score(X_test, y_test)

1.0